<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Stranos - One Page</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Oswald' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!--[if lt IE 8]>
	  	<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>

	<div id="portfolio-page">
        <!-- Start portfolio sample -->
       <div class="eleven columns"> 
        <div class="portfolio-media">
            <a href="#"><img src="../images/work/project-1.jpg" alt="portfolio item" /></a>                 
        </div>  
       </div>
        <!-- end portfolio sample -->
        
       <div class="five columns"> 
        <!-- start portfolio info --> 
        <div class="portfolio-info">
            <div class="portfolio-description">
              <h3>Description</h3>
               <p>Nullam mattis condimentum molestie. Nam gravida elementum dui sit amet ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a velit libero, eu aliquam nisi. Integer ac massa tortor, at eleifend nisi. Nulla feugiat sodales mi, vitae aliquam quam imperdiet at. Donec vitae ante quis sapien imperdiet rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Quisque in tortor magna. Donec porttitor molestie placerat. Mauris tempor urna a libero tincidunt viverra..</p>
            </div>
            
            <div class="portfolio-details">
              <h3>Details</h3>
              <p><span>Client</span>: Jim Doe</p>
              <p><span>Date</span>: Oct 15, 2015</p>
              <p><span>Skills</span>: Photography, Design, Branding</p>                                        
            </div>
        </div>
        <!-- end portfolio info -->
       </div>
	</div><!-- end portfolio page -->

<!-- End Document
================================================== -->
</body>
</html>