
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Begin Template Styles
================================================== */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: always;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	color: #333333;
	background: #F5F5F5;
	font-family: 'effra','brandon-grotesque',Helvetica,Arial,sans-serif;
}

.copyright {font-size: 12px; margin-top: 14px;}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	color: #2e3b4e;
}

h1 { font-size: 40px; }
h2 { font-size: 35px; line-height: 40px; margin-bottom: 5px; }
h3 { font-size: 30px; }
h4 { font-size: 25px; }
h5 { font-size: 20px; }

/* #Links
================================================== */
a, a:visited { text-decoration:none; outline: 0; }
a:hover, a:focus { color: #2c3e50; }
p a, p a:visited { line-height: inherit; }


/* #Buttons
================================================== */
.btn, a.btn {
  border: none;
  background: #F26C4F;
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  padding: 9px 28px 10px 28px;
  line-height: 22px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  margin: 21px 0;
}


/* #Colors
================================================== */
.primary-color{color:rgba(0,0,0,1);}
.secondary-color{color:#2c3e50;}
.third-color{color: #111;}


/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* Main */

.container {
	margin: 0 auto;
	max-width: 1200px;
	background-color: #FFFFFF;
	zoom: 1;
}

.splash {
	background: url(banners/devices.png) no-repeat #FFFFFF;
	background-size: contain;
	width: 100%;
	min-height: 880px;
	text-align: center;
	padding: 140px 100px;
}

.splash h2 {
	font-weight: 300;
}

/* #Header */

.navigation {
	z-index: 9999;
	position: fixed;
	float: left;
	width: 100%;
	max-width: 1200px;
	height: 100px;
	padding: 10px 0;
	background-color: #111111;
	clear: both;
}

.logo { 
	font-family: "effra";
	height: 80px;
	line-height: 80px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	margin-left: -10px !important;
	width: 300px;
	float: left;
	color: #FFFFFF;
}

.logomark {
	float: left;
	text-indent: -99999px;
	height: 80px;
	width: 80px;
	margin-left: 80px;
	background: url(NCV-Brand-Mark.png) no-repeat left;
	background-size: contain;
}

nav.main-nav ul {float: right; margin-right: 70px;}
nav.main-nav ul li {
	height: 80px;
	line-height: 80px;
	float: left; 
	margin: 0 20px;
	color: #AAAAAA;
}
nav.main-nav ul li a {
	font-family: "effra";
	display: block;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 10px;
}

/* #Page Sections
================================================== */
.page {
	width: 100%;
	text-align: center;
	padding: 62px 0px;
}

/* Thumbnails */

.thumbnails {
	text-align: center;
	width: 960px;
	margin: 0 auto;
}

.thumbnails .thumbnail {
	float: left;
	margin: 10px;
	background-size: cover;
	overflow: hidden;
}

.thumbnails .thumbnail p {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin-top: 34px;
	word-spacing: 2px;
}

.thumbnails .thumbnail img {
	-webkit-filter: grayscale(80%);
	filter: grayscale(80%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.thumbnails .thumbnail img:hover {
	cursor: pointer;
	filter: none;
	-webkit-filter: none;
}

.thumbnail.primary {
	width: 300px;
	height: 300px;
}

.thumbnail.secondary {
	width: 620px;
	height: 300px;
}

.thumbnail.tertiary {
	width: 460px;
	height: 300px;
}

.thumbnail.small-horizontal {
	width: 300px;
	height: 140px;
}

.thumbnail.small {
	width: 140px;
	height: 140px;
}

.thumbnail.primary img, .thumbnail.secondary img, .thumbnail.tertiary img, .thumbnail.small-horizontal img { height: inherit; }
.thumbnail.small img { width: inherit; }

/* #Parallax Banners
================================================== */
.parallax {
	z-index:0;
	width: 100%;
	height: 400px;
	position: relative;
	color: #fff;
	overflow: hidden;
}
.parallax-content {
	text-align: center;
	padding: 100px 0 0 0;
	z-index: 1;
}
.parallax-content h1{
	color:#F26C4F;
	font-size: 42px;
	font-weight: 900;
	line-height: 49px;
	padding: 7px 0;
	border-top:1px solid #bdc3c7;
	border-bottom:1px solid #bdc3c7;
	display: inline-block;
}
.parallax-content p{
	color:#fff;
	font-size: 28px;
	font-weight: 300;
	line-height: 35px;
	width: 75%;
	margin:0 auto;
}
.banner-overlay {
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 400px;
	position: absolute;
	z-index: -1;
	overflow:hidden;
}
.parallax-banner-1 {background-image: url(banners/1.png);}
.parallax-banner-2 {background-image: url(banners/2.png);}
.parallax-banner-3 {background-image: url(banners/3.png);}
.parallax-background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: bottom center;
}
