/* TABLE OF CONTENTS
#Reset & Basics
#Typography
#Links
*/


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Begin Template Styles
================================================== */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #fff;
	font-family: 'brandon-grotesque', sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
.copyright {font-size: 12px; margin-top: 14px;}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
	font-family: 'brandon-grotesque', sans-serif;
}

.highlight{color:rgba(0,0,0,1);}


/* #Links
================================================== */
a, a:visited { text-decoration:none; outline: 0; }
a:hover, a:focus { color: #2c3e50; }
p a, p a:visited { line-height: inherit; }


/* #Buttons
================================================== */
.btn, a.btn {
  border: none;
  background: rgba(0,0,0,1);
  color: #fff;
  font-size: 17px;
  padding: 9px 28px 10px 28px;
  line-height: 22px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  margin: 21px 0;
}


/* #Colors
================================================== */
.primary-color{color:rgba(0,0,0,1);}
.secondary-color{color:#2c3e50;}
.third-color{color: #7f8c8d;}


/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* #Images
================================================== */

img.scale-with-grid {
	max-width: 100%;
	height: auto;	
}

/* #Header
================================================== */
.main-header{padding: 44px 0 14px 0;}
.logo { font-size: 30px; font-weight:300; text-transform: uppercase;}

nav.main-nav ul {float: right; margin-top: 7px;}
nav.main-nav ul li {
	float: left; 
	margin: 0 7px;
	text-transform: uppercase;
}
nav.main-nav ul li a {
	margin-right: 10px;
}
.header-banner{
	width:100%;
	height: 650px;
	padding: 98px 0 0 0;
	background: url(banners/header.jpg) fixed;
	background-size: cover;
	background-position: 100% top;
	background-color: #FFD600;
}
.home-text-wrapper {
	width: 960px;
	text-align: left;
	margin: 0 auto;
	padding: 15px 15px 25px 45px;
	background: rgba(255,255,255,0.8);
}
.home-text-wrapper h1{
	font-size: 50px; 
	font-weight: 500;
	line-height: 64px;
	padding: 0;
	margin: 0;
}
.home-text-wrapper h2{ 
	font-size: 26px; 
	padding: 0;
	padding-left: 50px;
	margin: 0;
	text-transform: none;
}

/* #Page Sections
================================================== */
.page {text-align: center; padding: 62px 0px;}

.page h1{
	background: rgba(0,0,0,1);
	padding: 17px 35px 0 35px;
	margin:0;
	display: inline-block;
	color: #fff;
	font-size: 35px;
	height: 56px;
}
.sub-page{padding: 42px 0;}
.title-borders{
	border-left: 7px solid rgba(0,0,0,1);
	border-right: 7px solid rgba(0,0,0,1);
	padding: 0 10px;
	margin:0 0 35px 0;
	display: inline-block;
	height: 56px;
}
.subtitle {
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 32px;
	font-weight: 300;
	line-height: 35px;
	width: 80%;
	margin:0 auto;
}
.subtitle2 {
	font-size: 28px;
	text-transform: uppercase;
	color: rgba(0,0,0,1);
	line-height: 35px;
	width: 75%;
	margin:0 auto;
	margin-bottom: 35px;
}
.fullwidth{
	width: 100%;
	background: #ecf0f1;
	text-align: center;
}
.fullwidth h2 {
	color: #2c3e50;
	font-size: 21px;
	font-family: 'brandon-grotesque', sans-serif;
	font-weight: 700;
	text-transform: none;
}
.fullwidth h3 {
	color: #2c3e50;
	font-size: 21px;
	font-family: 'brandon-grotesque', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.icon-box {
	background: rgba(0,0,0,1);
	display: inline-block !important;
	padding:35px 56px; 
	border-radius: 3px;
	position: relative;
	margin-bottom: 35px;
}
.icon-box:after {
	content: '';
	position: absolute;
	border: 21px solid rgba(0,0,0,1);
	border-bottom: 0px solid transparent !important;
	border-right: 21px solid transparent !important;
	border-left: 21px solid transparent !important;
	width: 0;
	height: 0;
	left: 50%;
	bottom: -15px;
	margin-left: -20px;
}
.about-text p{
	font-size: 120%;
	margin:0 auto;
}
.icon-services-circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background: rgba(0,0,0,1);
	display: inline-block !important;
	padding:42px; 
	position: relative;
	margin-bottom: 35px;
}

/* #Work (Portfolio) Section
================================================== */
.project-cats li {
	display: inline;
	color:#2c3e50;
	font-size: 21px;
	padding: 14px;
}

.project-thumbs {margin: 35px 0;}

.work-bucket-header {
	float: left;
	min-height: 200px;
	clear: both;
}

.work-bucket-header li {
	height: 100%;
	line-height: 100px;
	vertical-align: middle;
	text-align: left;
}

.work-bucket-header li:first-child {
	border-right: 2px solid #555;
	padding-right: 10px;
	text-align: right;
}

.work-bucket-header li:last-child p {
	font-size: 28px;
	line-height: 34px;
	font-weight: 500;
}

.work-bucket-header h2 {
	font-weight: 900;
	font-size: 26px;
	color: rgba(35,36,51,1);
}

.work-pins {
	width: 100%;
	height: 100px;
}

.work-pins li {
	float: left;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 60px;
	background: rgba(228,174,24,0.7);
	border-right: none !important;
	text-align: center !important;
	padding: 0 !important;
	margin: 20px;
}

.work-pins li a {
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* #Parallax Banners
================================================== */
.parallax {
	z-index:0;
	width: 100%;
	height: 600px;
	position: relative;
	color: #fff;
	overflow: hidden;
}
.parallax-content {
	text-align: center;
	padding: 200px 0 0 0;
}
.parallax-content h1{
	color:#e4ae18;
	font-size: 42px;
	font-weight: 900;
	line-height: 49px;
	padding: 7px 0;
	border-top:1px solid #bdc3c7;
	border-bottom:1px solid #bdc3c7;
	display: inline-block;
}
.parallax-content p{
	color:#fff;
	font-size: 28px;
	font-weight: 300;
	line-height: 35px;
	width: 75%;
	margin:0 auto;
}
.banner-overlay {
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 600px;
	position: absolute;
	overflow:hidden;
}
.parallax-banner-1 {background-image: url(banners/1.png);}
.parallax-banner-2 {background-image: url(banners/2.png);}
.parallax-banner-3 {background-image: url(banners/3.png);}
.parallax-background {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: top center;
}
